:root {
    --main_light: #c2ffff;
    --secondary_light: #8bdeff;
    --main_dark: #a888ff;
    --secondary_dark: #26466f;
    --background_mid: #434a57;
    --background_light: #D56D4C;
}

*{
    margin: 0;
    padding: 0;
}

/* ANCHOR General Styling */
body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(var(--secondary_dark), var(--background_mid), var(--background_light));
    background-size: cover;
}

a {
    color: var(--main_dark);
}

a:hover {
    color: var(--secondary_light);
    text-decoration: none;
}


/* ANCHOR Navbar styling */

.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Syne', sans-serif;
    font-size: 1.3em;
    background-color: var(--secondary_dark);
    padding: 10px;
    margin: 0 0 15px;
}

.nav-section {
    display: flex;
}


/* ANCHOR Profile styling */

.profile.row {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

/* FIXME the scroll here isn't working quite right */
.profile.col {
    /* max-height: 90vh; */
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card.profile-details {
    width: 30vw;
    background-color: var(--main_light);
}

.card-footer {
    background-color: lightgray;
}

.card-img {
    opacity: .5;
}

/* Trying to unify card size, rather than letting them be defined by the aspect ratio of the background image */
.card.post-index{
    width: 30vw;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    color: var(--main_light);
}


.post-index:hover .card-img-overlay {
    background-color: rgba(255, 255, 255, .5);
    color: var(--secondary_dark);
}



/* ANCHOR City Index Page Styling */

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-index {
    width: 40vw;

}
.card-img-overlay {
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    color: var(--main_light);
}


.city-index:hover .card-img-overlay {
    background-color: rgba(255, 255, 255, .5);
    color: var(--secondary_dark);
}





/* ANCHOR City Detail Page Styling */

/* city index sidebar */
.card.selected-city {
    background-color: var(--main_light);
}

.card.sidebar {
    max-width: 25vw;
    font-size: 1.5rem;
    margin: 10px 0;
}

.card.sidebar .city-index-img {
    max-width: 10vw;
}


/* city details */

.col.city-detail {
    color: var(--background_light);
}

.city-detail-img {
    width: inherit;
    margin: 0 15px 0 0;
    border-radius: 5px;
}

/* new post button */
.new-post-toggle {
    color: var(--main_light);
    margin: 20px 0;
    border-radius: 50%;
    display: flex;
    font-size: 2.5em;
    
}

.new-post-toggle:hover{
    color: var(--secondary_dark);
    background-color: var(--main_light);
}

.new-post-button {
    color: var(--main_light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    margin: 15px 0;
}

/* post index */
.card.post {
    color: var(--secondary_dark);
    background-color: var(--main_light);
}

.post-index-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.card-img.post-index {
    opacity: 1;
}


/* ANCHOR Post Detail Styling */

.post-detail-meta {
    width: inherit;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.post-detail-title {
    color: var(--main_light);
}
.post-detail-img {
    width: inherit;
    border-radius: 5px;
    margin-bottom: 15px;
}

.post-content {
    color: var(--main_light);
}

.post-date {
    color: lightgray;
}

.post-edit {
    margin-right: 10px;
}