:root {
    --main_light: #c2ffff;
    --secondary_light: #8bdeff;
    --main_dark: #a888ff;
    --secondary_dark: #26466f;
}

/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--main_dark);
}
a:hover {
    color: var(--secondary_light);
    text-decoration: none;
}



/* Navbar styling */
.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Syne', sans-serif;
    font-size: 1.3em;
    background-color: var(--secondary_dark);
    padding: 10px;
    margin: 0 0 15px;
}

.nav-section {
    display: flex;
}


/* Profile styling */

.row {
    display: flex;
    justify-content: space-between;
}

.card.profile-details {
    width: 30vw;
    background-color: var(--main_light);
}

.card-footer {
    background-color: lightgray;
}

.card-img {
    opacity: .5;
}

/* Trying to unify card size, rather than letting them be defined by the aspect ratio of the background image */
.card.post-index{
    width: 30vw;
    overflow: hidden;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    color: var(--main_light);
}


.post-index:hover .card-img-overlay {
    background-color: rgba(255, 255, 255, .5);
    color: var(--secondary_dark);
}

