:root {
    --main_light: #c2ffff;
    --secondary_light: #8bdeff;
    --main_dark: #a888ff;
    --secondary_dark: #26466f;
}

*{
    margin: 0;
    padding: 0;
    /* max-width: 100vw; */
}

/* ANCHOR General Styling */
body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--main_dark);
}

a:hover {
    color: var(--secondary_light);
    text-decoration: none;
}



/* ANCHOR Navbar styling */
.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Syne', sans-serif;
    font-size: 1.3em;
    background-color: var(--secondary_dark);
    padding: 10px;
    margin: 0 0 15px;
}

.nav-section {
    display: flex;
}


/* ANCHOR Profile styling */

.profile.container {
    width: 100vw;
}

/* .profile.row {
    width: 100vw;
    display: flex;
    justify-content: space-between;
} */

/* FIXME the scroll here isn't working quite right */
.profile.col {
    max-height: 90vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card.profile-details {
    width: 30vw;
    background-color: var(--main_light);
}

.card-footer {
    background-color: lightgray;
}

.card-img {
    opacity: .5;
}

/* Trying to unify card size, rather than letting them be defined by the aspect ratio of the background image */
.card.post-index{
    width: 30vw;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, .5);
    background-position: center;
    color: var(--main_light);
}


.post-index:hover .card-img-overlay {
    background-color: rgba(255, 255, 255, .5);
    color: var(--secondary_dark);
}



/* ANCHOR City Index Page Styling */
.city-detail .post-detail-img {
    max-width: 30vw;
}

.city-index-img {
    max-width: 30vw; 
}


/* ANCHOR City Detail Page Styling */
.city-detail-img {
    max-width: 50vw;
}

.new-post-toggle {
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 50%;
    background-color: var(--secondary_dark);
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ANCHOR Post Detail Styling */
.post-detail-img {
    max-width: 30vw;
}