{% extends 'base.html' %}
{%block content %}

<img class="splash-img" src="https://live.staticflickr.com/3709/10274010496_d8f8d564e4_b.jpg" alt="">


<h3>Wayfarer is...</h3>
<div class="container cards-home">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sed Pulvinar</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel consectetur lacus, eget interdum nulla. Fusce vitae scelerisque mauris, sed pellentesque felis. Etiam ut tristique lorem. In sed felis leo. Integer sit amet pulvinar purus. Mauris ac malesuada sem.<p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nulla Vitae</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel consectetur lacus, eget interdum nulla. Fusce vitae scelerisque mauris, sed pellentesque felis. Etiam ut tristique lorem. In sed felis leo. Integer sit amet pulvinar purus. Mauris ac malesuada sem.<p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Etiam Iacus</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel consectetur lacus, eget interdum nulla. Fusce vitae scelerisque mauris, sed pellentesque felis. Etiam ut tristique lorem. In sed felis leo. Integer sit amet pulvinar purus. Mauris ac malesuada sem.<p>
                </div>
            </div>
        </div>
</div>

{% endblock %}