{% extends 'base.html' %}
{%block content %}

<img src="https://live.staticflickr.com/3709/10274010496_d8f8d564e4_b.jpg" alt="">


<div class="container cards">
<h3>Wayfarer is...</h3>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sed Pulvinar</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel consectetur lacus, eget interdum nulla. Fusce vitae scelerisque mauris, sed pellentesque felis. Etiam ut tristique lorem. In sed felis leo. Integer sit amet pulvinar purus. Mauris ac malesuada sem.<p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nulla Vitae</h5>
                    <p class="card-text">Cras blandit magna eget ultrices dignissim. Sed neque enim, mattis quis mauris in, viverra pharetra dui. Nulla elementum ut tellus nec convallis. Nunc placerat convallis elit sed iaculis. Praesent a mauris pharetra, scelerisque purus at, rutrum lectus. Vivamus a sem sit amet enim auctor tempus.<p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Etiam Iacus</h5>
                    <p class="card-text">Fusce sed ex sollicitudin, pharetra nunc quis, elementum eros. Sed condimentum aliquet sapien, in feugiat odio placerat ut. Donec nibh ligula, porttitor vitae elementum in, fermentum id nibh. Quisque gravida blandit orci, vitae hendrerit tortor bibendum ut. Sed metus sapien, facilisis a dapibus sit amet, aliquet ut quam.<p>
                </div>
            </div>
        </div>
</div>

{% endblock %}