{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col left">

            <div class="card profile-details">
                <div class="card-body">
                    <h5 class="card-title">{{user.first_name}}</h5>
                    <p class="card-text">
                        Memeber since: {{ user.date_joined }}
                    </p>
                    <div class="card-footer">
                    Current city: <a href="{% url 'cities_detail' user.profile.current_city.id  %}">{{user.profile.current_city}}</a>
                    </div>
                </div>
                <img src="{{user.profile.current_city.image }}" class="card-img-top" alt="...">
            </div>
        </div>

        <div class="col right">
            {%for post in user.post_set.all %}
                <!-- Go ahead and slap the appropriate url in this anchor tag -->
                <a href="#">
                    <div class="card mb-3 post-index">
                        <img class="card-img" src="{{post.city.image}}" alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}