{% extends 'base.html'%}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            
            <!-- Left of page
            Name
            Current city (name & link to city's show page)
            Join Date
            -->

        </div>
        <div class="col">
            
            <!-- Right of page
            Picture? Of the user or of their current city?
            Index of posts (cards, including images(tiled left))
            -->

        </div>
    </div>
</div>



{% endblock %}