{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col post-detail-meta">
		<a href="{% url 'cities_detail' post.city.id %}"><small>{{post.city.name}}, {{post.city.country}}</small></a>
		<h3 class="post-detail-title">{{post.title}}</h3>
		<a href="{% url 'profile_detail' post.user.profile.slug %}"><p>{{post.user.username}}</p></a>
	</div>
	<div class="col">
		<img src="{{ post.image }}" class="post-detail-img">
	</div>
</div>

<div class="row post-content">
    <p>{{post.content}}</p>
</div>
<div class="row">
    <small class="post-date">{{post.post_date}}</small>
</div>

{% if request.user.id == post.user.id %}
<div class="row">
    <a data-toggle="modal" href="#edit-post-modal" class="post-edit">Edit</a>
    <a data-toggle="modal" href="#delete-post-modal">Delete</a>
</div>
{% endif %}



<div class="modal" id="edit-post-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'posts_edit' post.id %}" method="POST">
                    {% csrf_token %}
                    {{post_form.as_p}}
                    <input type="submit" value="Update Post">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete-post-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'posts_delete' post.id %}" method="POST">
                    {% csrf_token %}
					<p>Are you sure you want to delete {{post.title }}? Deleted posts cannot be recovered.</p>
                    <input type="submit" value="I'm sure">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}