{% extends 'base.html' %}
{% block content %}

<div class="row">
	<div class="col">
		<a href="{% url 'cities_detail' post.city.id %}">{{post.city.name}}, {{post.city.country}}</a>
		<p>{{post.title}}</p>
		<a href="{% url 'profile_detail' post.user.id %}"><p>{{post.user.username}}</p></a>
	</div>
	<div class="col">
		<img src="{{ post.image }}" class="post-detail-img">
	</div>
</div>

<p>{{post.content}}</p>

<small>{{post.post_date}}</small>

{% if request.user.id == post.user.id %}
<a data-toggle="modal" href="#edit-post-modal">Edit</a>
<a data-toggle="modal" href="#delete-post-modal">Delete</a>
{% endif %}



<div class="modal" id="edit-post-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'posts_edit' post.id %}" method="POST">
                    {% csrf_token %}
                    {{post_form.as_p}}
                    <input type="submit" value="Update Post">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete-post-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
				{% comment %} delete url goes here {% endcomment %}
                <form action="{% url 'posts_delete' post.id %}" method="POST">
                    {% csrf_token %}
                    {% comment %} {{post_form.as_p}} {% endcomment %}
					<p>Are you sure you want to delete {{post.title }}? Deleted posts cannot be recovered.</p>
                    <input type="submit" value="I'm sure">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}